.navbar {
    background-color: #e4e2d8;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;


    padding: 15px 20px;
    background: linear-gradient(rgba(228, 226, 216, 0.1), rgba(228, 226, 216, 0.1));
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.logo-container {
    flex: 1;
}

.logo {
    width: 100px;
    height: auto;

}


.title-container {
    justify-content: left;
}

.navbar-title {
    font-family: 'Courier New', monospace;
    font-size: 50px;
    margin: 0;
    margin-left: -470px;
    color: #c4b8a9;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-list li {
    display: inline-block;
    margin-right: 30px;
}

.nav-list li a {
    color: #c4b8a9;
    font-family: 'Courier New', monospace;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s;
    text-decoration: none;

}

.nav-list li a:hover {
    background-color: #c9b295;
    color: #584021;
}