.container {

    max-width: 800px;
    margin: 0 auto;
    margin-top: 150px;
    padding: 20px;
}

.reservations-list {
    list-style-type: none;
    padding: 0;
}

.reservation-item {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reservation-item strong {
    margin-right: 5px;
}


.page-title {
    text-align: center;
    color: #333;
}

.loading-message {
    text-align: center;
    margin-top: 20px;
    color: #555;
}